*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
:root{
    --color-gray: #4d4b4b;
    --color-forms: #212529;
    --color-forms-text: #f0f0f0;
}

/*----------Style content----------*/
.container-content {
    width: 100%;
    position: relative;
    z-index: 998;
    margin-top: 5.6rem;
}
.c-banner{
    width: 100%;
    height: 642px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 998;
    top: 5.6rem;
}
.body-content{
    position: relative;
    z-index: 999;
    margin-top: 45.8rem;
    background-color: #ece2d6;
    padding: 2rem;
    padding-bottom: 0rem;
}
.body-content h1{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-align: center;
}
.body-content h2{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
}
.c-gallery{
    width: 100%;
    margin-top: 2.5rem;
}
.c-line1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.c-line2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1.5rem;
}
.c-img-1{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-2{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-3{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-4{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-5{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-6{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-7{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.c-img-8{
    width: 30%;
    height: 235px;
    background-image: url(../img/prod8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}