*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
:root{
    --color-gray: #4d4b4b;
    --color-gray-medium: #d4d0d0;
    --color-forms: #212529;
    --color-forms-text: #f0f0f0;
}

/*----------Style content----------*/
.c-contact-us{
    width: 100%;
    position: relative;
    width: 100%;
    height: 560px;
    background-image: url(../img/fondo-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999;
    margin-top: 5.7rem;
}
.c-body-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    margin-top: 1rem;
    padding: 1rem;
}
.container-content{
    display: flex;
}
.c-info-cotact{
    width: 40%;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-all-contact {
  width: 100%;
  border-right: 1px solid var(--color-gray-medium);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-form{
    width: 60%;
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
}
.c-inputs-form{
    width: 100%;
}
label {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: var(--color-forms);
}  
textarea {
    display: block; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-gray-medium);
    padding: 0.3rem;
}
textarea:focus{
    outline: none;
}
.c-contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3.7rem;
}
.c-icon{
    width: 12px;
    fill: var(--color-forms);
    margin-right: 0.5rem;
}
.c-contact p{
    font-size: 0.8rem;
    color: var(--color-gray);
}
.c-contact-social-media{
    text-align: center;
    margin-top: 2rem;
}
.c-contact-social-media .icon-social-media{
    width: 25px;
    fill: var(--color-forms);
}
.input-submit{
    width: 25%;
    padding: 0.5rem;
    margin-top: 0.8rem;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: var(--color-forms);
    transition: background 0.3s;
}
.input-submit:hover{
    background-color: black;
}
form{
    width: 100%;
}
input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-gray-medium);
    border-radius: 5px;
}
input:focus{
    outline: none;
}
h1{
    color: var(--color-forms);
    font-weight: 700;
    font-size: 1.8rem;
}
h2{
    color: var(--color-forms);
    font-size: 1.3rem;
    font-weight: 700;
}
::placeholder{
    font-size: 0.8rem;
}