*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
:root{
    --color-gray: #4d4b4b;
    --color-forms: #212529;
    --color-forms-text: #f0f0f0;
}

/*----------Style content----------*/
.c-content{
    width: 100%;
    position: relative;
    height: 560px;
    background-image: url(../img/fondo-birra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    margin-top: 5.7rem;
}
.c-login{
    width: 30%;
    height: 400px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-content-form{
    width: 300px;
    margin-top: 4rem;
}
.c-icon-login{
    background: var(--color-forms);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2rem;
}
.c-icon-login svg{
    width: 60px;
    fill: white;
}
.c-icon-form{
    width: 50px;
    height: 50px;
    background-color: var(--color-forms);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.c-icon-form svg{
    width: 20px;
    fill: white;
}
.c-inputs-form{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.style-inputs{
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--color-forms-text);
    padding-left: 0.8rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.style-inputs:focus{
    outline: none;
}
.style-inputs::placeholder{
    color: black;
}
.c-submmit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.input-submit{
    width: 45%;
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color-forms);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background .3s;
}
.input-submit:hover{
    background-color: black;
}
.c-remember{
    width: 50%;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: black;
    display: flex;
    align-items: center;
}
.mycheck {
    appearance: none;
    width: 14px;
    height: 14px;
    padding: 0.3rem;
    border: 1px solid var(--color-forms);
    margin-right: 0.3rem;
    cursor: pointer;
}
.mycheck:checked{
    background-color: var(--color-forms);
    width: 14px;
    height: 14px;
    padding: 0.3rem;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 15px;
    margin-right: 0.3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}