*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
:root{
    --color-gray: #4d4b4b;
    --color-forms: #212529;
    --color-forms-text: #f0f0f0;
}

/*----------Style content----------*/
.container-content{
    width: 100%;
    padding: 0rem 2rem;
    position: relative;
    z-index: 999;
    margin-top: 8rem;
}
.c-head-page{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.c-head-page h1{
    font-size: 2rem;
    font-weight: 600;
}
.c-head-page a{
    width: 10%;
}
.c-head-page button{
    border: none;
    width: 100%;
    background-color: var(--color-forms);
    border: 1px solid;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background .5s;
}
.c-head-page button:hover{
    background-color: var(--color-forms-text);
    border: 1px solid var(--color-forms);
}
.c-head-page p{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.c-head-page button:hover p{
    color: var(--color-forms);
}
.c-all-beer{
    width: 100%;
    margin-bottom: 5rem;
}
.c-line-beers-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    position: relative;
}
.c-line-beers-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}
.c-beer{
    width: 35%;
    height: 330px;
    position: relative;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,.1));
    cursor: pointer;
    
}
.img-beer-1{
    background-image: url(../img/blackmaze.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-2{
    background-image: url(../img/gringo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-3{
    background-image: url(../img/killing-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-4{
    background-image: url(../img/roots-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-5{
    background-image: url(../img/petit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-6{
    background-image: url(../img/golden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-7{
    background-image: url(../img/moscart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-8{
    background-image: url(../img/kungfutiger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.c-style-beer{
    width: 100%;
    background-color: var(--color-forms);
    padding: 0.5rem;
}
.c-style-beer p{
    color: white;
    text-align: center;
    font-size: 1rem;
}
.c-button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s;
}

.c-link-recipe{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: var(--color-forms);
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 1rem;
}
.c-link-recipe svg{
    width: 18px;
    fill: white;
    margin-right: 0.5rem;
}
.c-link-recipe p{
    font-size: 1rem;
    color: white;
}
.c-body-button{
    width: 100%;
    height: 295.5px;
    background-color: var(--color-forms-text);
    opacity: 0.5;
    display: none;
    transition: .3s;
}
.c-beer:hover .c-body-button{
    display: block;
}
.c-beer:hover .c-button{
    opacity: 1;
}

/*------Style pop-up------*/
.c-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.502);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#popup.visible {
    display: block; 
}
.body-popup{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-content-popup{
    width: 70%;
    background-color: #fff;
    padding: 2rem;
}
.c-button-close{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.c-button-close button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.c-button-close svg{
    width: 18px;
    fill: var(--color-forms);
}
.c-content-beer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.c-img-beer{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.img-popup-1{
    width: 100%;
    height: 100%;
    background-image: url(../img/blackmaze.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-popup-2{
    width: 100%;
    height: 100%;
    background-image: url(../img/gringo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-popup-3{
    width: 100%;
    height: 100%;
    background-image: url(../img/killing-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-popup-4{
    width: 100%;
    height: 100%;
    background-image: url(../img/petit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-popup-5{
    width: 100%;
    height: 100%;
    background-image: url(../img/golden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-popup-6{
    width: 100%;
    height: 100%;
    background-image: url(../img/moscart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.c-info-beer{
    width: 50%;
    padding-left: 2rem;
}
.c-info-beer h1{
    font-size: 2rem;
    color: var(--color-forms);
    font-weight: 600;
}
.c-info-style{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-forms);
    padding: 0rem 0.5rem;
    margin-top: 0.5rem;
}
.c-abv{
    width: 50%;
}
.c-icons-beer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.c-info-beer h2{
    font-size: 1rem;
    color:var(--color-forms-text);
}
.c-info-beer p{
    font-size: 1rem;
    margin-top: 2rem;
    line-height: 1.4rem;
    color: var(--color-forms);
}
.icons-beer {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    padding: 0.5rem;
}
.icons-beer-add{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    padding: 0.5rem;
}
.c-icon-vainilla{
    width: 28px;
    fill: var(--color-forms-text); 
}
.c-icon-beer-wheat{
    width: 12px;
    fill: var(--color-forms-text);
}
.c-icon-beer{
    width: 18px;
    fill:var(--color-forms-text);
}
.style-text{
    margin-top: 0.5rem !important;
}
.subtitles{
    font-weight: 600;
}