*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}

/*----------Style Menu----------*/
.container-menu{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece2d6;
    border-bottom: 1px solid #c9c0b5;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.container-logo-menu{
    width: 15%;
    height: 90px;
    display: contents;
}
.logo{
    width: 200px;
    height: 50px;
}
.container-links-menu{
    width: 85%;
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu-links{
    list-style: none;
    display: flex;
    justify-content:space-between;
    text-align: center;
    align-items: center;
    margin-right: 1rem;
}
.menu-links-contact{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.menu-links li{
    width: 145px;
    height: 20px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-links-contact li{
    display: flex;
    align-items: center;
}
.menu-links-contact li{
    padding: 0rem 1.3rem;
}
.menu-items{
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}
.icons-nav{
    width: 23px;
    height: 23px;
}
.menu-links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease;
}
.menu-links li:hover::before{
    opacity: 0.8;
}
.menu-links li:hover .menu-items{
    color: #7a6f6f;
}
.menu-links-contact li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease;
}
.menu-links-contact li:hover::before{
    opacity: 0.8;
}
.menu-links-contact li:hover .menu-items{
    fill: #7a6f6f;
}


/*----------Style content----------*/
.container-content{
    width: 100%;
}
.container-content h1{
    margin: 2rem 0rem; 
    text-align: center;
    font-weight: 600;
}
.container-text-content{
    width: 65%;
    margin: auto;
}
.container-text-content p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}
.c-button-beer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-button-content{
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.sytle-button-beer{
    background-color: #958787;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.3rem;
    cursor: pointer;
    transition: background .4s;
}
.sytle-button-beer:hover{
    background-color: black;
}
.sytle-button-beer p{
    font-weight: 600;
}
.style-icons-content{
    width: 30px;
    height: 30px;
    fill: white;
}
.sytle-button-beer p{
    color: white;
}
.container-img-content{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}
.style-img-content-r{
    width: 50%;
    height: 400px;
    background-image: url(../img/equipo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.style-img-content-l{
    width: 50%;
    height: 400px;
    background-image: url(../img/grifo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/*----------Style Footer----------*/
footer{
    width: 100%;
    height: 80px;
    background-color: #ece2d6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-buttons-social-media{
    width: 135px;
    margin: auto;
}
.icon-social-media{
    width: 28px;
    height: 28px;
}
.button-social-media{
    margin-right: 1.3rem;
}
.button-social-media:last-child{
    margin-right: 0;
}



