*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.container-menu{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 226, 214);
}

.container-logo-menu{
    width: 15%;
    height: 90px;
    display: contents;
}

.logo{
    width: 200px;
    height: 60px;
}

.container-links-menu{
    width: 85%;
    height: 90px;
    display: flex;
    justify-content: end;
}

.menu-links{
    margin-top: 19px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: normal;
    margin-right: 1rem;
}

.menu-links-contact{
    margin-top: 19px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: normal;
}

.menu-links li{
    padding: 15px;
    width: 135px;
}

.menu-links-contact li{
    padding: 15px;
    width: 70px;
}

.menu-items{
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.icons-nav{
    width: 23px;
    height: 23px;
}

.container-banner{
    width: 100%;
    height: 525px;
    background-image: url(../img/banner-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

footer{
    width: 100%;
    height: 80px;
    background-color: rgb(236, 226, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-buttons-social-media{
    width: 135px;
    margin: auto;
}

.icon-social-media{
    width: 28px;
    height: 28px;
}

.button-social-media{
    margin-right: 1.3rem;
}

.button-social-media:last-child{
    margin-right: 0;
}

a{
    text-decoration: none;
}

li{
    height: 50px;
}

.menu-links li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(180, 170, 160);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.menu-links li:hover::before{
    opacity: 0.8;
}

.menu-links li:hover .menu-items{
    color: rgb(122, 111, 111);
}

.menu-links-contact li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(180, 170, 160);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.menu-links-contact li:hover::before{
    opacity: 0.8;
}

.menu-links-contact li:hover .menu-items{
    fill: rgb(122, 111, 111);
}



