*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AdelleSans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}

/*----------Style content----------*/
.container-content{
    width: 100%;
    padding: 0rem 2rem;
}
.container-content h1{
    font-size: 1.8rem;
    margin: 2rem 0rem;
}
.c-all-beer{
    width: 100%;
}
.c-line-beers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 7rem;
}
.c-beer{
    width: 35%;
    height: 280px;
    position: relative;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,.1));
    cursor: pointer;
}
.img-beer-1{
    background-image: url(../img/blackmaze.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-2{
    background-image: url(../img/gringo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-3{
    background-image: url(../img/killing-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-4{
    background-image: url(../img/roots-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-5{
    background-image: url(../img/petit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-6{
    background-image: url(../img/golden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-7{
    background-image: url(../img/moscart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.img-beer-8{
    background-image: url(../img/kungfutiger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.c-style-beer{
    margin-top: -2.1rem;
    width: 100%;
    background-color: black;
    padding: 0.5rem;
    opacity: 0.85;
}
.c-style-beer p{
    color: white;
    text-align: center;
    font-size: 1rem;
}
.c-link-recipe{
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    display: none;
    transform-origin: bottom;
    transform: translateY(40px);
    transition: transform 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
}
.c-link-recipe svg{
    width: 22px;
    fill: black;
    margin-right: 0.5rem;
}
.c-link-recipe p{
    font-size: 1rem;
}
.c-beer:hover .c-link-recipe{
    display: flex;
    justify-content: center;
    align-items: center;
}